<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Security Presentation - Index</title>
</head>

<body>

    <br>
        <p> <% if(msg) { %> <%= msg %> <% } %> </p>
        <p>type in a greeting!</p>
        <form method="POST" action="/">
            <input type="text" name="greeting" placeholder="type something"></input>
            <input type="submit" value="greet"></input>
        </form>
</body>

</html>